// ------------------------------
// Breadcrumb styles
//
// Mirrors styles from the Pattern Library

.breadcrumbs {
  .nav-item {
    @include margin-left($baseline/4);

    display: inline-block;
    font-size: 0.85rem;
    color: #888;

    @include media-breakpoint-down(lg) {
      max-width: 240px;
    }

    @include media-breakpoint-down(sm) {
      max-width: 140px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    @include media-breakpoint-down(xs) {
      &:not(:first-child) {
        max-width: 100px;
      }
    }

    &.nav-item-course {
      max-width: none;
    }

    &.nav-item-sequence{
      color: #888;
      font-weight: 600;
    }

    a,
    a:visited {
      color: #888;
      font-size: 0.85rem;
      line-height: 1;
    }

    a:hover {
      color: $uxpl-blue-hover-active;
    }
  }

  .fa-angle-right {
    @include margin-left($baseline/4);

    @include media-breakpoint-down(sm) {
      position: relative;
      top: -5px;
    }

    display: inline-block;
    color: #888;

    @include rtl {
      @include transform(rotateY(180deg));
    }
  }
}
