.cartificate_tem {
  width: 100%;
  text-align: center;
  min-height: 580px;
  position: relative;

  &.honor {
    border-top-color: #52b662;
  }
  
  &.verified {
    border-top-color: #2b86c8;
  }
  
  &.professional {
    border-top-color: #1f314e;
  }
  
  header {
    text-align: right;
  }
  
  .organization {
    min-height: 36px;
    max-height: 64px;
    display: inline;
    margin-right: 1.5rem;
    margin-top: 0.5rem;
  }
  
  h1 {
    margin: 0 -1.5rem 3rem 0;
    font-size: 2rem;
    letter-spacing: 1rem;
    text-align: center;
    font-weight: bold;
  }
  
  .course_title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0;
    letter-spacing: -0.05rem;
  }
  
  .lavel {
    font-size: 1.4rem; 
    font-weight: 400;

    &.honor{
      color:green;
    }
    
    &.verified{
      color:#2b86c8;
    }
    
    &.professional{
      color:#d73c91;
    }
  }
  
  .lavelmark {
    position: absolute;
    top:0;
    left: 0;
    width: 50%;

    @media(min-width: 1000px){
      width: 36%;
    }
  }
  
  .user_name {
    font-size: 2.15rem;
    font-weight: bold;
    border-bottom: solid 1px rgba(35, 50, 80, 0.5);
    width: 50%;
    padding: 0.2rem 0;
    margin: 2rem auto 0.8rem;
    //letter-spacing: 1.2rem;
  }
   
  .user_name ~ p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-top: 1rem;
  }
  
  .signatory {
    position: relative;
    width: 60%;
    margin: 2.5rem auto 2.5rem;
    display: flex;
    justify-content: space-around;
  
    h2 {
      margin-top:1rem;
      letter-spacing: 0.2rem;
      font-size: 1.5rem;
      font-weight: 600;

      span{
        letter-spacing: 1.1rem;
        margin-left: 1.1rem;
      }
    }
    
    div > img { 
      max-width: 120px;
      margin-bottom: -2px;
    }
    
    div h3 {
      font-size: 0.85rem;
      font-weight: bold;
      margin: 0;
      letter-spacing: 0.3rem;
    }
    
    div p {
      font-size: 0.8rem;
      line-height: 1.2;
    }
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    width: 100%;
    color: #666;
    align-content: center;
    font-size: 0.85rem;
    border-top: solid 1px #eee;
  
    h5 {
      font-size: 0.825rem;
      text-align: left;
      margin-bottom: 4px;
    }
    
    ul {
      margin: 0 1.5rem;
    }
    
    li {
      list-style: none;
      float: left;
      margin-right: 1.5rem;

      img {
        height: 36px;
      }
    }

    div:last-of-type {
      margin-right: 1.5rem;
     }
  }
  
  span.id {
    color:#0f82e6;
    font-weight: bold;
  }
  
  /*언어에 따른 정렬*/
  /*한글*/
  .ko {
    text-align: center;
  }
  
  /*영문*/
  .en {
    text-align: left;

    header,
    main {
      padding: 0 3rem;
    }
    
    header h3 {
      font-size: 2rem;
      line-height: 1.2;
      margin: 0;
    }
    
    header h1 {
      text-align: left;
      font-size: 1.4rem;
      letter-spacing: 0.05rem;
      margin: 0;
      line-height: 1;
      font-weight: 400;
    }
    
    .organization {
      display: inline-block;
      float: right;
      margin-right: 0;
    }
    
    header div {
      position: relative;
      z-index: 2;
      text-align: left;
    }
    
    main {
      margin-top: 10rem;
      min-height: 250px;
      }
    
    .user_name {
      margin-left: 0;
      margin-bottom: 0;
      letter-spacing: 0.1rem;
      font-size: 1.6rem;
    }
    
    .course_title {
      margin: 0.8rem 0;
      font-size: 2rem;
      width: 60%;
      word-break: keep-all;
    }
    
    .signatory {
      width: 20%;
      height: 85%;
      flex-flow: column;
      position: absolute;
      right: 3rem;
      top: 80px;
      justify-content: flex-start;
      text-align: right;
      margin: auto 0;
      
      div {
        margin-bottom: 1.6rem;
      }
      
      div:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
